<h1><%= link_to "Assignments", assignments_path %></h1>
  <li>
    <strong>Listed Assignment:</strong>
    <p><%= @assignment.name %></p>
    <strong>Topic or Subject:</strong>
    <p><%= @assignment.subject %></p>
    <strong>Earned Grade/Mark:</strong>
    <p><%= @assignment.grade %></p>
  </li>
