<ul>
  <% @students.each do |student| %>
    <li>
      <p><%= link_to student.body, todo_path(student) %></p>
    </li>
  <% end %>
</ul>

<h2><%= link_to "Students", todos_path %></h2>
<p><%= @student.name %></p>
<p><%= @student.grade_level %></p>
