<h1><%= link_to "Students", students_path %></h1>
  <li>
    <strong>Student:</strong>
    <p><%= @student.name %></p>
    <strong>Grade Level:</strong>
    <p><%= @student.grade_level %></p>
  </li>
